In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling1.csv to Churn_Modelling1.csv

In [3]:
dataset = pd.read_csv('Churn_Modelling1.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 7]
#print (X)
#print(y)
print(X.shape)
print(y.shape)

(10000, 7)
(10000,)

In [4]:
dataset.shape

(10000, 8)

In [5]:
print(X)

     Geography  Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0       France  Female   42  ...          1               1        101348.88
1        Spain  Female   41  ...          0               1        112542.58
2       France  Female   42  ...          1               0        113931.57
3       France  Female   39  ...          0               0         93826.63
4        Spain  Female   43  ...          1               1         79084.10
...        ...     ...  ...  ...        ...             ...              ...
9995    France    Male   39  ...          1               0         96270.64
9996    France    Male   35  ...          1               1        101699.77
9997    France  Female   36  ...          0               1         42085.58
9998   Germany    Male   42  ...          1               0         92888.52
9999    France  Female   28  ...          1               0         38190.78

[10000 rows x 7 columns]

In [7]:
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
print(X['Geography'])

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [9]:
#Convert the column into categorical columns
states=pd.get_dummies(X['Geography'], drop_first= True) 
print(states)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [10]:
# Drop the state coulmn
X = X.iloc[:, 1:7]
print(X)

      Gender  Age    Balance  HasCrCard  IsActiveMember  EstimatedSalary
0     Female   42       0.00          1               1        101348.88
1     Female   41   83807.86          0               1        112542.58
2     Female   42  159660.80          1               0        113931.57
3     Female   39       0.00          0               0         93826.63
4     Female   43  125510.82          1               1         79084.10
...      ...  ...        ...        ...             ...              ...
9995    Male   39       0.00          1               0         96270.64
9996    Male   35   57369.61          1               1        101699.77
9997  Female   36       0.00          0               1         42085.58
9998    Male   42   75075.31          1               0         92888.52
9999  Female   28  130142.79          1               0         38190.78

[10000 rows x 6 columns]

In [11]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)
print(X)

      Gender  Age    Balance  ...  EstimatedSalary  Germany  Spain
0     Female   42       0.00  ...        101348.88        0      0
1     Female   41   83807.86  ...        112542.58        0      1
2     Female   42  159660.80  ...        113931.57        0      0
3     Female   39       0.00  ...         93826.63        0      0
4     Female   43  125510.82  ...         79084.10        0      1
...      ...  ...        ...  ...              ...      ...    ...
9995    Male   39       0.00  ...         96270.64        0      0
9996    Male   35   57369.61  ...        101699.77        0      0
9997  Female   36       0.00  ...         42085.58        0      0
9998    Male   42   75075.31  ...         92888.52        1      0
9999  Female   28  130142.79  ...         38190.78        0      0

[10000 rows x 8 columns]

In [12]:
#Convert the column into categorical columns
states=pd.get_dummies(X['Gender'], drop_first= True) 
print(states)

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [13]:
# Drop the state coulmn
X = X.iloc[:, 1:8]
print(X)

      Age    Balance  HasCrCard  ...  EstimatedSalary  Germany  Spain
0      42       0.00          1  ...        101348.88        0      0
1      41   83807.86          0  ...        112542.58        0      1
2      42  159660.80          1  ...        113931.57        0      0
3      39       0.00          0  ...         93826.63        0      0
4      43  125510.82          1  ...         79084.10        0      1
...   ...        ...        ...  ...              ...      ...    ...
9995   39       0.00          1  ...         96270.64        0      0
9996   35   57369.61          1  ...        101699.77        0      0
9997   36       0.00          0  ...         42085.58        0      0
9998   42   75075.31          1  ...         92888.52        1      0
9999   28  130142.79          1  ...         38190.78        0      0

[10000 rows x 7 columns]

In [14]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)
print(X)

      Age    Balance  HasCrCard  ...  Germany  Spain  Male
0      42       0.00          1  ...        0      0     0
1      41   83807.86          0  ...        0      1     0
2      42  159660.80          1  ...        0      0     0
3      39       0.00          0  ...        0      0     0
4      43  125510.82          1  ...        0      1     0
...   ...        ...        ...  ...      ...    ...   ...
9995   39       0.00          1  ...        0      0     1
9996   35   57369.61          1  ...        0      0     1
9997   36       0.00          0  ...        0      0     0
9998   42   75075.31          1  ...        1      0     1
9999   28  130142.79          1  ...        0      0     0

[10000 rows x 8 columns]

In [22]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)
print(X_train)

      Age    Balance  HasCrCard  ...  Germany  Spain  Male
8856   26       0.00          1  ...        0      0     0
1545   42  158414.85          1  ...        1      0     0
8136   38       0.00          1  ...        0      0     0
7768   20  122446.61          1  ...        0      1     0
7782   54   87105.32          1  ...        0      0     1
...   ...        ...        ...  ...      ...    ...   ...
1099   38       0.00          1  ...        0      1     1
2514   26  105082.07          1  ...        1      0     0
6637   36       0.00          1  ...        0      0     1
2575   54  102994.04          1  ...        1      0     1
7336   28       0.00          1  ...        0      0     0

[8000 rows x 8 columns]

In [23]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)

In [24]:
print('original output',y_test)

original output 7878    1
3224    1
1919    1
4432    0
4835    0
       ..
9073    1
8584    0
5390    1
5092    1
2964    0
Name: Exited, Length: 2000, dtype: int64

In [25]:
print('predicted output',pred)

predicted output [0 0 0 ... 0 1 0]

In [26]:
print('percentage accuracy',100*accuracy_score(y_test, pred))

percentage accuracy 75.94999999999999

In [27]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(criterion='entropy', n_estimators=40, random_state=2, n_jobs=2)
forest.fit(X_train, y_train)
y_pred = forest.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]

In [28]:
print('percentage accuracy',100*accuracy_score(y_test, y_pred))

percentage accuracy 82.8